body{
    font-family: "SoDoSans semi bold",Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: bold;
}

a{
    text-decoration: none;
    color: black;

}
.mail{
    margin-bottom: 10px;
}
a:hover{
    color:rebeccapurple;
    text-shadow: color: #131313;
    background: #e7e5e4;
    letter-spacing: .15em;
    text-shadow: color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;;
}


.ri{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prishtina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hcp{
display: flex;
margin-top: 45px;}

.vid{
    display: flex;
   justify-content: center; 
}


.con{
    position: relative;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
}
.con .box{
    position: relative;
    width: 450px; 
    height: 320px;
    background: black;
}
.con .box .videoBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box ;
}
.con .box .contentBx{
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.95);
    transition: 0.5s;
    transform: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}
.con .box:hover .contentBx{
    transition: 0.5s;
    transform: 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
.con .box .contentBx .content{
    color: white;
}
.con .box:hover .contentBx .content{
    opacity: 1;
    transition: 0.5s;
}

video:hover{

}